@model IEnumerable<WorkforceManagementClient.Models.SkillViewModel>

@{
    ViewBag.Title = "Employee Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee @ViewData["employeefirstname"] @ViewData["employeesurname"] Skills</h2>

<p>
    @Html.ActionLink("Add Skill To Employee", "AddSkills", "Employee", new { EmpID = ViewData["employeeid"], empsurname = @ViewData["employeesurname"], empfirstname = @ViewData["employeefirstname"] }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SkillID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillDateOfCreation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SkillID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillDateOfCreation)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.SkillID }) |
                @Html.ActionLink("DeleteSkill", "SkillDelete", "Employee", new { EmpID = ViewData["employeeid"], SkillID = item.SkillID, empsurname = @ViewData["employeesurname"], empfirstname = @ViewData["employeefirstname"] }, null)
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Back to List", "Index", "Employee")
